# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
absl-py=0.15.0=pypi_0
astunparse=1.6.3=pypi_0
cached-property=1.5.2=pypi_0
cachetools=4.2.4=pypi_0
certifi=2021.5.30=py36haa95532_0
charset-normalizer=2.0.12=pypi_0
clang=5.0=pypi_0
click=8.0.4=pypi_0
colorama=0.4.5=pypi_0
dataclasses=0.8=pypi_0
flask=2.0.3=pypi_0
flatbuffers=1.12=pypi_0
gast=0.4.0=pypi_0
google-auth=1.35.0=pypi_0
google-auth-oauthlib=0.4.6=pypi_0
google-pasta=0.2.0=pypi_0
grpcio=1.48.2=pypi_0
h5py=3.1.0=pypi_0
idna=3.4=pypi_0
importlib-metadata=4.8.3=pypi_0
imutils=0.5.4=pypi_0
itsdangerous=2.0.1=pypi_0
jinja2=3.0.3=pypi_0
keras=2.6.0=pypi_0
keras-preprocessing=1.1.2=pypi_0
markdown=3.3.7=pypi_0
markupsafe=2.0.1=pypi_0
numpy=1.19.5=pypi_0
oauthlib=3.2.2=pypi_0
opencv-python=4.6.0.66=pypi_0
opt-einsum=3.3.0=pypi_0
pip=21.2.2=py36haa95532_0
playsound=1.2.2=pypi_0
protobuf=3.19.6=pypi_0
pyasn1=0.4.8=pypi_0
pyasn1-modules=0.2.8=pypi_0
python=3.6.13=h3758d61_0
requests=2.27.1=pypi_0
requests-oauthlib=1.3.1=pypi_0
rsa=4.9=pypi_0
setuptools=58.0.4=py36haa95532_0
six=1.15.0=pypi_0
sqlite=3.40.0=h2bbff1b_0
tensorboard=2.6.0=pypi_0
tensorboard-data-server=0.6.1=pypi_0
tensorboard-plugin-wit=1.8.1=pypi_0
tensorflow=2.6.2=pypi_0
tensorflow-estimator=2.6.0=pypi_0
termcolor=1.1.0=pypi_0
typing-extensions=3.7.4.3=pypi_0
urllib3=1.26.13=pypi_0
vc=14.2=h21ff451_1
vs2015_runtime=14.27.29016=h5e58377_2
werkzeug=2.0.3=pypi_0
wheel=0.37.1=pyhd3eb1b0_0
wincertstore=0.2=py36h7fe50ca_0
wrapt=1.12.1=pypi_0
zipp=3.6.0=pypi_0
